/.dart_tool/
/.idea/
/build/
/.vscode/

/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/.idea/.wiseGPT/
/ios/Podfile
/pubspec.lock

# Kotlin/Gradle build caches
android/.kotlin/
android/.gradle/
android/app/build/
build/
.dart_tool/
coverage/
